<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oraimo Discount Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/png" href="/logo.png">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <div>
            <img class="logo" src="logo.png" alt="Oraimo Logo">
            <img class="logo" src="Oraimo-Logo.png" alt="Oraimo Logo">
        </div>
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav class="nav-desktop">
            <a href="/">HOME</a>
            <a href="/about">ABOUT US</a>
            <a href="/categories">CATEGORIES</a>
            <a href="/contact">CONTACT US</a>
        </nav>
    </header>
    <nav id="nav-links">
        <a href="/">HOME</a>
        <a href="/about">ABOUT US</a>
        <a href="/categories">CATEGORIES</a>
        <a href="/contact">CONTACT US</a>
    </nav>
    <main>
        <h1>Contact Us</h1>
        <p class="subtitle">To make inquiries or proffer suggestion
        </p>
        <hr>
        <form class="aboutOraimo">
            <label for="name">Name</label>
            <input type="text">
            <label for="name">Email</label>
            <input type="email">
            <label for="subject">Subject</label>
            <input type="email">
            <label for="message">Message</label><br>
            <textarea name="message" class="message"></textarea><br>
            <button type="submit">SUBMIT</button>
        </form>
    </main>
    <footer>
        <div>
            <ul>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/termsAndCond">Terms & Conditions</a></li>
                <li><a href="/affiliate">Affiliate Disclosure</a></li>
            </ul>
            <p>Copyright © 2024 OraimoDiscountNetwork®.</p>
            <p>All Rights Reserved.</p>
        </div>
    </footer>
    <div class="couponCtn" style="display: none;"></div>
    <script src="script.js"></script>
</body>
</html>