<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oraimo Discount Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <div>
            <img class="logo" src="logo.png" alt="Oraimo Logo">
            <img class="logo" src="Oraimo-Logo.png" alt="Oraimo Logo">
        </div>
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav class="nav-desktop">
            <a href="/">HOME</a>
            <a href="/about">ABOUT US</a>
            <a href="/categories">CATEGORIES</a>
            <a href="/contact">CONTACT US</a>
        </nav>
    </header>
    <nav id="nav-links">
        <a href="/">HOME</a>
        <a href="/about">ABOUT US</a>
        <a href="/categories">CATEGORIES</a>
        <a href="/contact">CONTACT US</a>
    </nav>
    <main>
        <h1>Terms & Conditions</h1>
        <p class="subtitle">Oraimo Discount Network
        </p>
        <hr>
        <div class="whyOraimo">
            <p>Welcome to the Online Discount Network. By using our website, you accept the following terms and conditions:</p>
            <ol style="margin-left: 30px;">
                <li><b>Use of Discount Codes</b> - Our discount codes are intended for personal use only. - Codes are subject to availability and may have an expiry date.</li>
                <li><b>Information Accuracy</b> - While we make every effort to give correct and up-to-date discount codes, we cannot always guarantee their validity.</li>
                <li><b>Third-Party Links</b> - Our website may include links to third-party sites. We are not liable for the content, services, or policies of these external websites.</li>
                <li><b>Limitation of Liability</b> - Online Discount Network assumes no responsibility for any damages or issues resulting from the use of discount codes or third-party services.</li>
                <li><b>Conditions Changes</b> - We have the right to amend these conditions at any moment. Please review them on a regular basis. By using our website, you acknowledge and agree to these terms. For enquiries, please Contact Us.</li>
            </ol>
        </div>
    </main>
    <footer>
        <div>
            <ul>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/termsAndCond">Terms & Conditions</a></li>
                <li><a href="/affiliate">Affiliate Disclosure</a></li>
            </ul>
            <p>Copyright © 2024 OraimoDiscountNetwork®.</p>
            <p>All Rights Reserved.</p>
        </div>
    </footer>
    <div class="couponCtn" style="display: none;"></div>
    <script src="script.js"></script>
</body>
</html>