* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 11px;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

/* header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    width: 95%;
    margin: auto;
    top:0;
    position: sticky;
} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top:0;
    position: sticky;
    background-color: #fff;
}

/* header img {
    height: 60px;
    margin-right: 10px;
} */
.logo {
    height: 30px;
}

.logo2 {
    height: 50px;
}

hr {
    border: 1px solid #5A9B06;
    margin-bottom: 30px;
}

/* nav {
    margin-left: auto;
    display: none;
} */


nav {
    display: none;
    gap: 20px;
    text-align: center;
    padding: 15px;
    transition: all 10s ease;
    top: 60px;
    position: sticky;
    background-color:#fff;
}

nav a {
    /* margin: 0 23px; */
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1rem;
}

nav a:hover {
    color: #007bff;
}

nav.active {
    display: flex;
    flex-direction: column;
    transition: all 10s ease;
}

/* Hamburger menu */
.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #333;
    transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
}

main {
    margin-top: 50px;
}

main,
footer {
    padding-left: 30px;
    padding-right: 30px;
}

h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 1.7rem;
    color: #666;
    margin-bottom: 40px;
    width: 100%;
}

h2 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}

.coupon {
    background-color: #FFF;
    padding: 20px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 1px;
    gap: 12px;

}

h3 {
    font-size: 1.7rem;
}

.coupon-details {
    width: 100%;
}

.coupon-extras {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    /* width: 60%; */

}

.coupon-codeCtn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.coupon-code {
    background-color: #5A9B06;
    color: #fff;
    /* padding: 15px 35px; */
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
}

.coupon-code:hover {
    background-color: #5A9B06;
}

.copy {
    height: 25px;
    cursor: pointer;
}

.thumbs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thumbs span {
    cursor: pointer;
    margin: 0 5px;
}

.thumbs span:hover {
    text-decoration: underline;
}

.thumbs img {
    width: 30px;
    border: 1px solid rgba(128, 128, 128, 0.406);
    padding: 5px;
    cursor: pointer;
}

.thumbs-button {
    font-size: 2em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}

/* .thumbs-button.clicked img {
    border: 2px solid green;
} */

.thumbs-up-extras {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-stats {
    display: flex;
    gap: 7px;
}

.stats {
    color: rgb(86, 86, 86);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats img {
    width: 15px;
    margin-right: 5px;
}




.whyOraimo,
.howOraimo,
.aboutOraimo {
    line-height: 33px;
    margin: 40px 0;
}


.whyOraimo li,
.whyOraimo li b,
.whyOraimo p,
.aboutOraimo p,
.aboutOraimo b {
    font-size: 1.4rem;
}

.whyOraimo ol {
    margin-left: 20px;
}

.howOraimo li,
.howOraimo li b,
.howOraimo p {
    font-size: 1.4rem;
}

.howOraimo ul {
    margin-left: 20px;
}

.connect h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
}

.connect .socialHandle {
    display: flex;
    justify-content: center;
    gap: 7px;
}

.connect .socialHandle div {
    width: 120px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.whatsapp {
    background-color: #5A9B06;
}
.facebook {
    background-color: #0833CF;
}

.instagram {
    background-color: #161616;
}

.connect .socialHandle div img {
    width: 25px;
    height: 25px;
}
.categories {
    text-align: center;
}
.categories button{
    width: 180px;
    height: 50px;
    background-color: #5A9B06;
    border: none;
    outline: none;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 120px;
}

.message {
    width: 100%;
    height: 100px;
}

form input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 15px;
    padding-left: 20px;
    border: 1px solid black;
}

form button {
    padding: 10px 20px;
    background-color: #5A9B06;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
}

footer {
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding-top: 40px;
    padding-bottom: 80px;
}


footer div ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    line-height: 25px;
    margin: auto;
    width: 70%;
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: #A0A0A0;
}

footer p {
    text-align: center;
    color: #DBDBDB;
    margin-top: 10px;
}


@media (min-width:768px) {
    * {
        font-size: 18px;
    }
    .logo {
        height: 50px;
    }

    .subtitle {
        font-size: 1.7rem;
        color: #666;
        margin-bottom: 40px;
        width: 70%;
    }
    .coupon {
        /* display: flex; */
        flex-direction: row;
        gap: 50px;
        padding: 30px;
    }
    .coupon-code {
        width: 200px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 1rem;
    }
    .coupon-codeCtn {
        gap: 25px;
    }
    .coupon-details {
        width: 35%;
    }
    .coupon-extras {
        flex-direction: row;
        gap: 12px;
        width: 65%;
    }
    .thumbs-up-extras {
        width: 60%;
    }
    h3 {
        font-size: 1.5rem;
    }
    .nav-desktop {
        display: flex;
    }
    .nav-desktop a {
        font-size: .9rem;
        padding-right: 20px;
    }
    .hamburger {
        display: none;
    }
    header {
        padding: 15px 50px;
    }
    footer {
        padding-left: 50px;
        padding-right: 50px;
    }
    .thumbs img {
        width: 35px;
    }
    .view-stats {
        display: flex;
        gap: 20px;
    }
    .whyOraimo,
    .howOraimo,
    .aboutOraimo {
        line-height: 45px;
        margin: 55px 0;
    }
    .connect h2 {
        text-align: left;
    }
    .connect .socialHandle {
        justify-content: flex-start;
    }
    .connect .socialHandle a div {
        width: 200px;
        margin: initial,
    }
    footer div ul {
        width: 100%;
    }
    footer div li {
        padding: 20px;
    }
}


